.loginbutton{
    border: none;
    border-radius: 5px;
    border-color: rgb(80, 154, 7);
    padding: 10px 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    margin-left: 70%;
    margin-top: 0.3%;
    width: 15%;
}

.display{
    margin-top: 1.14%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
    justify-content: start; 
    gap: 49px; 
    width: 90%;    
    padding: 10px;
}

